.expression {
    display: inline-block;
    vertical-align: middle;
    width: 1.5rem;
    height: 1.5rem;
}

.expressiona0 {    background: url(images/expression/61130210_1.png) no-repeat center center;    background-size: 70% 70%;}
.expressiona1 {    background: url(images/expression/61130210_2.png) no-repeat center center;    background-size: 70% 70%;}
.expressiona2 {    background: url(images/expression/61130210_3.png) no-repeat center center;    background-size: 70% 70%;}
.expressiona3 {    background: url(images/expression/61130210_4.png) no-repeat center center;    background-size: 70% 70%;}
.expressiona4 {    background: url(images/expression/61130210_5.png) no-repeat center center;    background-size: 70% 70%;}
.expressiona5 {    background: url(images/expression/61130210_6.png) no-repeat center center;    background-size: 70% 70%;}
.expressiona6 {    background: url(images/expression/61130210_7.png) no-repeat center center;    background-size: 70% 70%;}
.expressiona7 {    background: url(images/expression/61130210_8.png) no-repeat center center;    background-size: 70% 70%;}
.expressiona8 {    background: url(images/expression/61130210_9.png) no-repeat center center;    background-size: 70% 70%;}
.expressiona9 {    background: url(images/expression/61130210_10.png) no-repeat center center;    background-size: 70% 70%;}
.expressionb0 {    background: url(images/expression/61130210_11.png) no-repeat center center;    background-size: 70% 70%;}
.expressionb1 {    background: url(images/expression/61130210_12.png) no-repeat center center;    background-size: 70% 70%;}
.expressionb2 {    background: url(images/expression/61130210_13.png) no-repeat center center;    background-size: 70% 70%;}
.expressionb3 {    background: url(images/expression/61130210_14.png) no-repeat center center;    background-size: 70% 70%;}
.expressionb4 {    background: url(images/expression/61130210_15.png) no-repeat center center;    background-size: 70% 70%;}
.expressionb5 {    background: url(images/expression/61130210_16.png) no-repeat center center;    background-size: 70% 70%;}
.expressionb6 {    background: url(images/expression/61130210_17.png) no-repeat center center;    background-size: 70% 70%;}
.expressionb7 {    background: url(images/expression/61130210_18.png) no-repeat center center;    background-size: 70% 70%;}
.expressionb8 {    background: url(images/expression/61130210_19.png) no-repeat center center;    background-size: 70% 70%;}
.expressionb9 {    background: url(images/expression/61130210_20.png) no-repeat center center;    background-size: 70% 70%;}
.expressionc0 {    background: url(images/expression/61130210_21.png) no-repeat center center;    background-size: 70% 70%;}
.expressionc1 {    background: url(images/expression/61130210_22.png) no-repeat center center;    background-size: 70% 70%;}
.expressionc2 {    background: url(images/expression/61130210_23.png) no-repeat center center;    background-size: 70% 70%;}
.expressionc3 {    background: url(images/expression/61130210_24.png) no-repeat center center;    background-size: 70% 70%;}
.expressionc4 {    background: url(images/expression/61130210_25.png) no-repeat center center;    background-size: 70% 70%;}
.expressionc5 {    background: url(images/expression/61130210_26.png) no-repeat center center;    background-size: 70% 70%;}
.expressionc6 {    background: url(images/expression/61130210_27.png) no-repeat center center;    background-size: 70% 70%;}
.expressionc7 {    background: url(images/expression/61130210_28.png) no-repeat center center;    background-size: 70% 70%;}
.expressionc8 {    background: url(images/expression/61130210_29.png) no-repeat center center;    background-size: 70% 70%;}
.expressionc9 {    background: url(images/expression/61130210_30.png) no-repeat center center;    background-size: 70% 70%;}
.expressiond0 {    background: url(images/expression/61130210_31.png) no-repeat center center;    background-size: 70% 70%;}
.expressiond1 {    background: url(images/expression/61130210_32.png) no-repeat center center;    background-size: 70% 70%;}
.expressiond2 {    background: url(images/expression/61130210_33.png) no-repeat center center;    background-size: 70% 70%;}
.expressiond3 {    background: url(images/expression/61130210_34.png) no-repeat center center;    background-size: 70% 70%;}
.expressiond4 {    background: url(images/expression/61130210_35.png) no-repeat center center;    background-size: 70% 70%;}
.expressiond5 {    background: url(images/expression/61130210_36.png) no-repeat center center;    background-size: 70% 70%;}
.expressiond6 {    background: url(images/expression/61130210_37.png) no-repeat center center;    background-size: 70% 70%;}
.expressiond7 {    background: url(images/expression/61130210_38.png) no-repeat center center;    background-size: 70% 70%;}
.expressiond8 {    background: url(images/expression/61130210_39.png) no-repeat center center;    background-size: 70% 70%;}
.expressiond9 {    background: url(images/expression/61130210_40.png) no-repeat center center;    background-size: 70% 70%;}
.expressione0 {    background: url(images/expression/61130210_41.png) no-repeat center center;    background-size: 70% 70%;}
.expressione1 {    background: url(images/expression/61130210_42.png) no-repeat center center;    background-size: 70% 70%;}
.expressione2 {    background: url(images/expression/61130210_43.png) no-repeat center center;    background-size: 70% 70%;}
.expressione3 {    background: url(images/expression/61130210_44.png) no-repeat center center;    background-size: 70% 70%;}
.expressione4 {    background: url(images/expression/61130210_45.png) no-repeat center center;    background-size: 70% 70%;}
.expressione5 {    background: url(images/expression/61130210_46.png) no-repeat center center;    background-size: 70% 70%;}
.expressione6 {    background: url(images/expression/61130210_47.png) no-repeat center center;    background-size: 70% 70%;}
.expressione7 {    background: url(images/expression/61130210_48.png) no-repeat center center;    background-size: 70% 70%;}
.expressione8 {    background: url(images/expression/61130210_49.png) no-repeat center center;    background-size: 70% 70%;}
.expressione9 {    background: url(images/expression/61130210_50.png) no-repeat center center;    background-size: 70% 70%;}
.expressionf0 {    background: url(images/expression/61130210_51.png) no-repeat center center;    background-size: 70% 70%;}
.expressionf1 {    background: url(images/expression/61130210_52.png) no-repeat center center;    background-size: 70% 70%;}
.expressionf2 {    background: url(images/expression/61130210_53.png) no-repeat center center;    background-size: 70% 70%;}
.expressionf3 {    background: url(images/expression/61130210_54.png) no-repeat center center;    background-size: 70% 70%;}
.expressionf4 {    background: url(images/expression/61130210_55.png) no-repeat center center;    background-size: 70% 70%;}
.expressionf5 {    background: url(images/expression/61130210_56.png) no-repeat center center;    background-size: 70% 70%;}
.expressionf6 {    background: url(images/expression/61130210_57.png) no-repeat center center;    background-size: 70% 70%;}
.expressionf7 {    background: url(images/expression/61130210_58.png) no-repeat center center;    background-size: 70% 70%;}
.expressionf8 {    background: url(images/expression/61130210_59.png) no-repeat center center;    background-size: 70% 70%;}
.expressionf9 {    background: url(images/expression/61130210_60.png) no-repeat center center;    background-size: 70% 70%;}
.expressiong0 {    background: url(images/expression/61130210_61.png) no-repeat center center;    background-size: 70% 70%;}
.expressiong1 {    background: url(images/expression/61130210_62.png) no-repeat center center;    background-size: 70% 70%;}
.expressiong2 {    background: url(images/expression/61130210_63.png) no-repeat center center;    background-size: 70% 70%;}
.expressiong3 {    background: url(images/expression/61130210_64.png) no-repeat center center;    background-size: 70% 70%;}
.expressiong4 {    background: url(images/expression/61130210_65.png) no-repeat center center;    background-size: 70% 70%;}
.expressiong5 {    background: url(images/expression/61130210_66.png) no-repeat center center;    background-size: 70% 70%;}
.expressiong6 {    background: url(images/expression/61130210_67.png) no-repeat center center;    background-size: 70% 70%;}
.expressiong7 {    background: url(images/expression/61130210_68.png) no-repeat center center;    background-size: 70% 70%;}
.expressiong8 {    background: url(images/expression/61130210_69.png) no-repeat center center;    background-size: 70% 70%;}
.expressiong9 {    background: url(images/expression/61130210_70.png) no-repeat center center;    background-size: 70% 70%;}
