.pull-to-refresh-layer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.pull-to-refresh-preloader-wrap {
    margin: 0 .25rem;
    position: relative;
    overflow: hidden;
    width: 21px;
    height: 21px;
}

.preloader-pull {
    position: absolute;
    left: 0;
    top: 0;
    width: 21px !important;
    height: 21px !important;
    margin-left: -10.5px !important;
    margin-top: -10.5px !important;
}

.swiper-pagination-bullet-active {
    background-color: #666666 !important;
}

.tabbar a.active {
    color: #666666 !important;
}

.tabbar-labels a.link, .tabbar-labels a.tab-link {
    padding-top: 8px;
}

.badge {
    background-color: red;
}

.ct-btn {
    background-color: #666666 !important;
    color: #fff !important;
    margin: 0;
    height: 100%;
    line-height: 44px;
    padding: 0;
}

.list-block {
    margin: 10px 0;
}

.list-block .item-title {
    font-weight: normal !important;
}

.login-screen, .popup {
    left: 0 !important;
    top: 0 !important;
}

.label-switch input[type=checkbox]:checked + .checkbox {
    background: #666666 !important;
}

/* === Chips === */
.chipWrap {
    float: left;
    width: 25%;
    padding: .25rem;
    box-sizing: border-box;
}

.chip {
    width: 100%;
    font-size: 13px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    background: rgba(0, 0, 0, 0.12);
    display: inline-block;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    padding: 0 12px;
    box-sizing: border-box;
    vertical-align: middle;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 2px 0;
    -webkit-justify-content: center;
    justify-content: center;
}

.chip .chip-media {
    width: 32px;
    height: 32px;
    margin-left: -12px;
    vertical-align: top;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    color: #fff;
    -webkit-box-flex: 0;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.chip .chip-media img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 50%;
    display: block;
}

.chip .chip-media + .chip-label {
    margin-left: 8px;
}

.chip .chip-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-shrink: 1;
    -ms-flex: 0 1 auto;
    flex-shrink: 1;
    min-width: 0;
}

.chip .chip-label + .chip-delete {
    margin-left: 4px;
}

.chip .chip-delete {
    margin-right: -8px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    -webkit-box-flex: 0;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23000'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%20width%3D'24'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M12%202C6.47%202%202%206.47%202%2012s4.47%2010%2010%2010%2010-4.47%2010-10S17.53%202%2012%202zm5%2013.59L15.59%2017%2012%2013.41%208.41%2017%207%2015.59%2010.59%2012%207%208.41%208.41%207%2012%2010.59%2015.59%207%2017%208.41%2013.41%2012%2017%2015.59z'%2F%3E%3Cpath%20d%3D'M0%200h24v24H0z'%20fill%3D'none'%2F%3E%3C%2Fsvg%3E") no-repeat center;
    background-size: 20px 20px;
    opacity: 0.54;
}

.icon-back {
    background: url(images/app-back.svg) no-repeat !important;
    background-size: 100% 100% !important;
    width: 30px !important;
    height: 30px !important;
}

a {
    text-decoration: none;
    color: #666666;
}

.list-block textarea.resizable {
    min-height: 45px;
}

.back.link {
    width: 44px;
    height: 44px;
    line-height: 44px;
}

.app-nav .left, .app-nav .right {
    width: 30px;
}

.statusbar-overlay {
    z-index: 10501;
}

.page-with-statusbar-overlay {
    top: 20px !important;
    bottom: 0;
    height: auto !important;
}

.card {
    border-radius: 12px;
}

.card-header {
    border-radius: 12px 12px 0 0;
}

.card-footer {
    border-radius: 0 0 12px 12px;
}

.page {
    background-color: #FBF5F7;
}

.buttons-row {
    background-color: #FBF5F7;
}

.modal .modal-inner .modal-text .userInfoModel .logoGroup .item-input {
    display: flex;
    align-items: center;
}

.modal .modal-inner .modal-text .userInfoModel .logoGroup .uploadBtn {
    align-self: center;
}

.ct-sidesliding-mask {
    background-color: transparent !important;
}

.ct-sidesliding-overlay {
    top: 44px;
}